.App {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

header.App-header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}