body {
    color: white;
    font-size: 60px;
    text-align: center;
    background-image: url('../resources/bcg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: "Chakra Petch", sans-serif !important; /* Increase specificity */



}

