.TaskPage {

    height: 80vh;
    color: white;
}

.TaskPage .content {
    width: 400px;
    height: 500px;
    background: #494f56;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.9);
    position: relative;
    flex-direction: column;
    gap: 40px;}

.TaskPage .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
}

.TaskPage .content form .inputBox {
    position: relative;
    width: 100%;
}

.TaskPage .form .createTaskButton {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background: #4e85d0;
    border: none;
    border-bottom: 2px solid #007bff;
    color: white;
    outline: none;
}

form .createTaskButton:hover {
    background: #007bff;
}

.table-container {
    margin-top: 30px; /* Adjust the margin as needed */
}

.table-container {
    width: 100%;
    max-width: 800px; /* Set a maximum width for the table */
}