.TaskPage {

    height: 80vh;
    color: white;
}

/*.TaskPage .content {*/
/*    width: 400px;*/
/*    height: 500px;*/
/*    background: #494f56;*/
/*    z-index: 1000;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 40px;*/
/*    border-radius: 15px;*/
/*    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);*/
/*    position: relative;*/
/*    flex-direction: column;*/
/*    gap: 40px;*/
/*}*/

/*.TaskPage .content .form {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 30px;*/
/*    font-size: 20px;*/
/*}*/

/*.TaskPage .content form .inputBox {*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/

/*.TaskPage .form .createTaskButton {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    font-size: 18px;*/
/*    background: #4e85d0;*/
/*    border: none;*/
/*    border-bottom: 2px solid #007bff;*/
/*    color: white;*/
/*    outline: none;*/
/*}*/


.TaskPage .table-container {
    margin-top: 30px;
}

.TaskPage .table-container {
    width: 100%;
    max-width: 1000px;
}

.goToDashboardButton {
    width: 40% !important;
    padding: 10px;
    font-size: 13px !important;
    background: #4e85d0 !important;
    border: none !important;
    border-bottom: 2px solid #007bff !important;
    color: white !important;
    outline: none;
}
.goToDashboardButton:hover {
    background: #007bff !important;
}

.goToDashboardButton {
    width: 40% !important;
    padding: 10px;
    font-size: 13px !important;
    background: #4e85d0 !important;
    border: none !important;
    border-bottom: 2px solid #007bff !important;
    color: white !important;
    outline: none;
}
.goToDashboardButton:hover {
    background: #007bff !important;
}
.logOutButton {
    width: 20% !important;
    padding: 5px;
    font-size: 12px !important;
    background: #445c7e !important;
    border: none !important;
    border-bottom: 2px solid #204f81 !important;
    color: white !important;
    outline: none;
}
.logOutButton:hover {
    background: #ff0026 !important;
    border-bottom: 2px solid #81203a !important;

}

.logOuticon {
    width: 20% !important;
    padding: 5px;
    font-size: 12px !important;
    border: none !important;
    outline: none;
}



.TaskPage .table-responsive {
    -webkit-box-shadow: -10px -8px 24px -9px rgba(28, 33, 36, 1);
    -moz-box-shadow: -10px -8px 24px -9px rgba(28, 33, 36, 1);
    box-shadow: -10px -8px 24px -9px rgba(28, 33, 36, 1);
    font-size: 0.9em;
}

.TaskPage .table-responsive > table.table,
.TaskPage .table-responsive table.table tr {
    --bs-table-bg: #494f56;
    --bs-table-color: #f0f9ff;
}

.TaskPage tbody tr:hover {
    --bs-table-bg: #555c64 !important;
}

.TaskPage th,
.TaskPage td {
    padding: 15px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.linkColor {
    color: #0096ff;
}

.linkColor:hover {
    color: #022a77;
}